.navbar {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: black;
	list-style-type: none;
	padding: 0 50px;
	border-bottom: solid yellow 10px;
	
}

.page_title{
	color: yellow;
	font-family: Merriweather;
	font-size: 40px;
	
}


nav {
	float: right;
	margin-left: auto;
	justify-content: space-between;
	text-align: center;
	padding: 16px;
	padding-top: 50px;
}

nav a{
	 
	color: white;
	padding: 14px 16px;
	font-family: Oswald;
	text-decoration: none;
	font-size: 25px;
}

.two-brains{
	padding: 25px;
	margin: 0;
	width: 97.3%;
	background-color: #ccc;
	font-size: 25px;
	font-family: Merriweather;
	text-align: center;
}

.taste{
	color: #999;
	text-decoration: line-through;
}

.are{
	text-decoration: underline;
	text-decoration-color: yellow;
}

img{
	 width: 100%;
}

.container{
	display: flex;
	
}

.backgroundimage{
		background: url(https://danieldidonato.github.io/FEWD_Developer_Matchmaker/images/coworking.jpg) center center no-repeat;
		background-size: cover;
		overflow: hidden;
		padding: 5%;
	
}

.image_text{
	font: 20px Sans-Serif;
	border: solid black 1px;
	width: 33%;
	padding: 4%;
	background-color: rgba(255, 255, 255, 0.8);
	justify-content: flex-end;
	float: right;
}

.bottomboxes{
	font: 20px Sans-Serif;
	width: 33%;
	padding: 4%;
	background-color: rgba(255, 255, 255, 0.7);
	justify-content: flex-end;
	float: right;

}

.col{
	border-right: solid #ccc 1px;
	height: 200px;
	width: 35%;
	margin: 10px;
}

.col-middle{
	border-right: solid #ccc 1px;
	height: 200px;
	width: 35%;
	margin: 10px;
}
.col:last-child{
	border-right: none;
}

.button{
	text-transform: uppercase;
    border: none;
    color: black;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.button-color{
	background-color: yellow;
}





.navbar:last-child{
	color: white;
	border-bottom: none;
	margin: 0;
	padding: 25px;
	font-size: 19px;

}